@tailwind base;
@tailwind components;
@tailwind utilities;

.fc .fc-button-primary {
    background-color: blue;
}

.fc .fc-button-primary:not(:disabled).fc-button-active,
.fc .fc-button-primary:not(:disabled):active {
    background-color: red;
}

.fc .fc-toolbar.fc-header-toolbar {
    margin: 5px 0 5px 0;
    padding: 0px 10px 0 10px;
}

.fc .fc-daygrid-day.fc-day-today,
.fc .fc-timegrid-col.fc-day-today {
    background-color: rgb(226, 240, 254);
}

/* 
div .fc-view-harness-active {
    max-height: 631px !important;
}

.fc-scrollgrid-sync-table {
    max-height: 600px !important;
} */

/* td .fc-daygrid-day {
    height: 30px !important;
    max-height: 50px !important;
    background-color: #ffe8e8;
} */